@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
}

header {
         display: inline;
}

.jumbotron {
        font-size: 20px;
        font-family: "Bebas Neue", sans-serif;
        padding: 20px;
        background: url(../img/space.jpg);
        text-align: center;
        color: yellow;
}

.fancy {
        font-weight: bold;
        text-shadow: 4px 4px 3px #7e8a97;
}

.fonthead1 {
        font-family: "Bebas Neue", sans-serif;
        color: orangered;
}

.fonthead2 {
        font-family: "Bebas Neue", sans-serif;
        color: red;
}

.fonthead3 {
        font-family: "Bebas Neue", sans-serif;
        color: brown;
}

.fonthead4 {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(133, 15, 97);
    text-align: center;
}

.fart {
        text-align: justify;
        background-color: bisque;
}

nav {
        background-color: #414346;
        padding: 2px;
        position: sticky;
        top: 0;
		text-align: center;	
}

nav li {
        display: inline;
        list-style-type: none;
        margin-right: 30px;
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";	
}

nav a {
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: white;
		font-weight: bold;
}
    
    
.card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
}

.divp {
        display: flex;        
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        flex-wrap: wrap;
}         

.card1 {
        flex: 0 0 auto;
        max-width: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        background-color: black;
        padding: 10px;
}

.card2 {
        flex: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        background-color: white;
        padding: 10px;
        
       
        
}

.row {
        display: -ms-flexbox; 
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0 4px;
  }
  
  .column {
        -ms-flex: 30%; 
        flex: 30%;
        max-width: 30%;
        padding: 25px;
    
  }
  
  .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
  }
  

  @media screen and (max-width: 800px) {
        .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
        }
  }
  
  @media screen and (max-width: 600px) {
        .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        }
  }


input[type=text], [type=email], textarea {
        width: 100%;
        padding: 7px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
  }
  
label {
        padding: 12px ;
        display: inline-block;
  }
  
  input[type=submit] {
        background-color: #230e9b;
        color: white;
        padding: 12px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
  }
  
  input[type=submit]:hover {
        background-color: #8b1982;
  }
  
  .feedback {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;

  }
  
 .fd1 {
        float: left;
        width: 25%;
        margin-top: 6px;

  }
  
 .fd2 {
        float: left;
        width: 75%;
        margin-top: 6px;

  }
  
 .row:after {
        content: "";
        display: table;
        clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .fd1, .fd2, input[type=submit] {
      width: 95%;
      margin-top: 0;
    }
  }

footer {
        padding: 20px;
        color: white;
        text-align: center;
        background-color:#414346;
        border-radius: 10px;
}


@media (max-width: 1000px)
    {
        body {background-color: aliceblue;}
    }

@media (max-width: 800px)
    {
        body {background-color: beige;}
        
    }

@media (max-width: 600px)
    {
        body {background-color: rgb(132, 136, 139);}
        article {flex-direction: column;}
    }